.menu {
  text-align: center;
  height: auto;
  width: auto;
  padding: 20px;
  border-radius: 15px;
  background-color: var(--primary);
  position: fixed;
  top: 3%;
  right: 10%;
}
.menu-button {
  background-color: var(--secondary);
  color: var(--text);
}
.menu-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
