.cards__component {
  background-color: var(--primary);
  color: var(--text);
  max-width: 300px;
  width: 100%;
  height: 300px;
  border-radius: 15px;
}
.cards__component_info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.cards__component:hover {
  background-color: #a5d6a7;
  color: var(--text);
  cursor: pointer;
  transform: scale(1);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in-out;
}
